<div class="logo">
  <img src="../../../assets/img/logo.jpg" alt="logo">
</div>
<div class="form-wrapper">
  <div>
    <h1 class="text-center mb-3">Recover your password</h1>
    <p class="text-center pb-4 mb-5">Enter your registered email or username to reset your password. </p>
    <!--FORGOT PASSWORD FORM-->
    <form>
      <div class="form-group has-float-label">
        <input class="form-control" type="text" id="username" placeholder="Username or Email">
        <label for="username">Username or Email</label>
      </div>
      <div class="d-flex">
        <button class="btn btn-lg btn-primary w-100">Recover Password</button>
      </div>
    </form>
    <!--FORGOT PASSWORD FORM END-->
  </div>
</div>
