<div class="form-wrapper profile-wrapper">
  <div class="logo">
    <img src="../../../assets/img/logo.jpg" alt="logo">
  </div>
  <h1 class="text-center mb-5">Set Up Your Profile</h1>
   <!--STEPS START-->
   <ul class="profile-steps">
    <li class="profile-steps-item completed">
      Bio Details
    </li>
    <li class="profile-steps-item active">
      Profile Picture
    </li>
    <li class="profile-steps-item">
      Address
    </li>
    <li class="profile-steps-item">
      steps
    </li>
  </ul>
  <!--STEPS END-->
  <div class="w-100 float-left mb-5">
    <form>

      <div class="d-flex pt-5">
        <button class="btn btn-lg btn-secondary w-100">Next</button>
      </div>
    </form>
  </div>
</div>

