
<div class="form-wrapper">

  <div class="logo">
    <img src="../../../assets/img/logo.jpg" alt="logo">
  </div>

  <!--PROFILE SETUPT COMPLET MESSAGE-->
  <div class="account-created text-center">
    <div class="success-icon mb-4"><i class="icon-check"></i></div>
    <h1 class="text-center mb-4 mt-4">Profile set up complete!</h1>
    <p class="text-center pb-4 mb-5 mt-2">
       Now, you can either logout and take a break, or move on and <br> start setting up your school.
    </p>
    <div class="mb-5">
      <a [routerLink]="['/login']" class="btn btn-outline btn-outline-primary">Logout</a>
      <a [routerLink]="['/login']" class="btn btn-primary">Set Up Your School</a>
    </div>
  </div>
  <!--PROFILE SETUPT COMPLET MESSAGE END-->
</div>

