@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

// variables

$font-family:'Raleway', sans-serif;

$primary-color:#69a9f2;
$gray-color:#c7c7c7;
$light-gray:#e0e0e0;
$text-color:#000;
$danger:#dd3237;
$success:#66bb6a;
$white:#fff;


$body-bg: $white;
$body-color: $text-color;
