<!--server message-->
<app-message [isAlert]="isAlert" [type]="type" [message]="message"></app-message>
<!--server message-->
<div class="form-wrapper">
  <!--ACCOUNT CREATED FORM-->
  <div class="logo">
    <img src="../../../assets/img/logo.jpg" alt="logo">
  </div>
  <div *ngIf="!isAuthenticated">
    <h1 class="text-center mb-3">Create New Account</h1>
    <p class="text-center pb-4 mb-5">Already have an account? <a href="javascript:void(0)"
        [routerLink]="['/login']">Sign In</a></p>
    <form [formGroup]="registerForm" novalidate (ngSubmit)="submit()">
      <div class="form-group has-float-label field-with-icon">
        <input class="form-control" type="text" id="email" placeholder="Email Address" formControlName="email">
        <label for="email">Email Address</label>
        <i *ngIf="registerForm.controls['email'].valid" class="icon-check text-success user-valid"></i>
        <div
          *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
          class="error-msg">
          <div *ngIf="registerForm.controls['email'].errors.required">
            <ul class="password-rules">
              <li *ngFor="let rule of validationMessage['email-required'] | keyvalue">{{rule.value}}</li>
            </ul>
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.pattern">
            <ul class="password-rules">
              <li *ngFor="let rule of validationMessage['email-pattern'] | keyvalue">{{rule.value}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group has-float-label field-with-icon position-relative">
        <input class="form-control" [type]="hidePassword ? 'password' : 'text'" id="password" placeholder="Password"
          formControlName="password">
        <label for="password">Password</label>
        <i (click)="hidePassword = !hidePassword" class="pointer"
          [ngClass]="hidePassword ? 'icon-eye-off' : 'icon-eye'"></i>
        <div
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
          class="error-msg">
          <span *ngIf="registerForm.controls['password'].errors.required">
            <ul class="password-rules">
              <li *ngFor="let rule of validationMessage['password-required'] | keyvalue">{{rule.value}}</li>
            </ul>
          </span>
          <span *ngIf="registerForm.controls['password'].errors?.pattern">
            <ul class="password-rules rules-list">
              <li *ngFor="let rule of validationMessage['password-pattern'] | keyvalue">{{rule.value}}</li>
            </ul>
          </span>
        </div>
      </div>
      <div class="form-group has-float-label field-with-icon">
        <input class="form-control" [type]="hideConfirmPassword ? 'password' : 'text'" id="confirmPassword"
          placeholder="Confirm Password" formControlName="confirmPassword"
          [ngClass]="{'passwordNotSame': registerForm.hasError('passwordNotSame')}">
        <label for="confirmPassword">Confirm Password</label>
        <i (click)="hideConfirmPassword = !hideConfirmPassword" class="pointer"
          [ngClass]="hideConfirmPassword ? 'icon-eye-off' : 'icon-eye'"></i>
        <div
          *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)"
          class="error-msg">
          <span *ngIf="registerForm.controls['confirmPassword'].errors.required">
            <ul class="password-rules">
              <li *ngFor="let rule of validationMessage['confirm-password-required'] | keyvalue">{{rule.value}}</li>
            </ul>
          </span>
        </div>
        <div class="error-msg" *ngIf="registerForm.hasError('passwordNotSame')">
          <ul class="password-rules">
            <li *ngFor="let rule of validationMessage['password-mismatch'] | keyvalue">{{rule.value}}</li>
          </ul>
        </div>
      </div>
      <div class="d-flex mb-5">
        <button type="submit" class="btn btn-lg btn-primary w-100">CREATE ACCOUNT</button>
      </div>
    </form>

    <p class="text-center">By signing up, you agree to our
      <a href="javascript:void(0)" (click)="openTermsOfServicesModal()">Terms of Services</a> and
      <a href="javascript:void(0)" (click)="openPrivacyPolicyModal()">Privacy Policy.</a></p>
  </div>
  <!--ACCOUNT CREATED FORM END-->

  <!--ACCOUNT CREATED SUCCCESS MESSAGE-->
  <div class="account-created text-center" *ngIf="isAuthenticated">
    <div class="success-icon mb-4"><i class="icon-check"></i></div>
    <h1 class="text-center mb-4 mt-4">Account Created!</h1>
    <p class="text-center pb-4 mb-5 mt-2">
      You have taken the first step to something great!!
      You can either keep going and set up your profile now, or log out and come back to it later.
    </p>
    <div class="mb-5">
      <button (click)="logOut()" class="btn btn-outline btn-outline-primary">LOGOUT</button>
      <button [routerLink]="['/setup-profile']" class="btn btn-primary">SET UP PROFILE</button>
    </div>
  </div>

  <!--ACCOUNT CREATED SUCCCESS MESSAGE END-->
</div>

<!-- TERMS-OF-SERVICES-MODAL-WINDOW -->
<div *ngIf="termsOfServicesModal" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h3>{{termsOfServicesTitle}}</h3>
      <a class="close" href="#" (click)="closeTermsOfServicesModal()">×</a>
    </div>
    <div class="custom-modal-content" [innerHtml]="termsOfServices">
    </div>
    <div class="custom-modal-footer">
      <button type="button" class="btn btn-outline btn-outline-secondary"
        (click)="closeTermsOfServicesModal()">Close</button>
    </div>
  </div>
</div>
<!-- TERMS-OF-SERVICES-MODAL-WINDOW END -->


<!-- PRIVACY-POLICY-MODAL-WINDOW -->
<div *ngIf="privacyPolicyModal" class="custom-modal-overlay">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h3>{{privacyPolicyTitle}}</h3>
      <a class="close" href="#" (click)="closePrivacyPolicyModal()">×</a>
    </div>
    <div class="custom-modal-content" [innerHtml]="privacyPolicy">
    </div>
    <div class="custom-modal-footer">
      <button type="button" class="btn btn-outline btn-outline-secondary"
        (click)="closePrivacyPolicyModal()">Close</button>
    </div>
  </div>
</div>

<!-- PRIVACY-POLICY-MODAL-WINDO-END-->
