<div class="account-created text-center">
    <div class="success-icon mb-4"><i class="icon-check"></i></div>
    <h1 class="text-center mb-4 mt-4">Account Created!</h1>
    <p class="text-center pb-4 mb-5 mt-2">
        You have taken the first step to something great!!
        You can either keep going and set up your profile now, or log out and come back to it later.
    </p>
    <div class="mb-5">
        <button (click)="logOut()" class="btn btn-outline btn-outline-primary">LOGOUT</button> 
        <button [routerLink]="['/setup-profile']" class="btn btn-primary">SET UP PROFILE</button>
    </div>
</div>